html {
    font-family: 'Playwrite GB S', serif;
}

* {
    /* padding: 0 10px; */
    transition-duration: 300ms;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 239, 239);
    margin: 0;
}
header,
main,
footer {
    /* max-width: 800px; */
    width: 95%;
    padding-left: 35px;
}
main {
    display: flex;
    gap: 24px;
    flex: 1;
}
a {
    color: black;
    text-decoration: none;
    padding: 0;
}

.main {
    display: block;
    justify-content: space-between;
}
.header {
    font-size: 24px;
    font-family: 'Bungee Shade', sans-serif;
    color: rgb(78, 151, 151);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input {
    display: flex;
}
.textInput {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(78, 151, 151);
    border-radius: 5px;
    font: 24px;
    font-size: 15px;
    color: rgb(78, 151, 151);
}
.textInput:focus {
    outline: 0 none;
}
.addButton {
    width: 100px;
    margin-left: 10px;
    border: 1px solid rgb(78, 151, 151);
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    background-color: rgb(123, 172, 172);
}
.plusIcon {
    font-size: 32px;
    cursor: pointer;
}
.plusIcon:hover {
    color: rgb(15, 16, 16);
}
.toDoList {
    display: inline;
    /* justify-content: space-between; */
    font-size: 22px;
    margin-top: 10px;
    padding-top: 10px;
}
#enterTodo {
    display: none;
}

.deleteIcon,
.editIcon {
    color: rgb(78, 151, 151);
    cursor: pointer;
}
.deleteIcon:hover {
    color: rgb(15, 16, 16);
}
.editIcon:hover {
    color: rgb(15, 16, 16);
}
.footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .header {
        position: relative;
        left: -15px;
    }
    .plusIcon {
        position: relative;
        left: -20px;
    }
    /* 
    footer {
        padding-left: -10px;
    } */
}
